body{
    background: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#mainHeader{
    background-color: #333;
    color: white;
}

#navbar{
    background-color: white;
    color: black;
}

#navbar ul{
    padding: 0px;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#main{
    text-align: center;
    font-size: larger;
    float: left;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}

@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }
}

#navbar li:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

#thememain{
    text-align: left;
    font-size: larger;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
